.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
    border-bottom: 1px solid #726d6a38;
    margin-bottom: 10px;
    color: #343230;
    align-items: center;
}

.pagination button  {
    background: #d6cfbf;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}

.pagination button:hover{
    background: white;
}

.pagination button img{
    transform: translateX(2px);
}

.pagination button.left img{
    transform: rotate(180deg) translateX(2px);
}