.App {
  text-align: center;
}


.content {
  display: flex;
  max-width: 1400px;
  margin: 60px auto 0 auto;
  padding: 20px;
  align-items: center;  
  justify-content: center;
}

/*  INFO  */
.info-container {
  background: #e4e3c5;
  background: linear-gradient(0deg, rgba(209,203,181,1) 0%, rgba(228,227,197,1) 38%);
  padding: 5px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
  border-radius: 2px;
  z-index: 1;
  position: relative;
  border: 10px solid #d6cfbf;
}

.info-container::after{
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 10px;
  background-image: url(./img/pokeball.png);
  background-repeat: no-repeat;  
  background-position-x: right;
  background-position-y: bottom;
}

.info-container:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  border: 1px solid #ab841f;
  border-radius: 2px;
}

.info-container-border{
    max-width: 950px;
    width: 100%;
    border-radius: 10px;
    margin-right: 30px;
    padding: 24px;
    height: fit-content;
    position: relative;
    background: url(./img/corners.png) left -106px top -83px no-repeat, 
    url(./img/corners.png) right -106px top -83px no-repeat, 
    url(./img/corners.png) left -106px bottom -83px no-repeat, 
    url(./img/corners.png) right -106px bottom -83px no-repeat, 
    #293a4e;
    
    box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
}

.pikachu{
  z-index: 1;
  position: absolute;
  bottom: -70px;
  right: 5px;
}


/*  SIDEBAR */

.sidebar {
  width: 300px;
  text-align: center;
}


@media(max-width:1335px){
  .sidebar{
    width: 150px;
  }
  .pagination div{
    display: none;
  }
}

@media(max-width:1060px){
  .content{
    flex-direction: column-reverse;
    padding: 0 40px;
  }
  .info-container-border{
    margin-right: 0;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .searchBox {
    width: 400px;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #343230;
    border-bottom: 0 !important;
    width: auto;
    margin: 0 !important;
  }

  .pagination button{
    margin-right: 5px;
  }

  .listPokemon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .container {
    width: inherit;
    height: 100px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: 100px;
    border-radius: 60px;
    margin: auto 5px;
    height: 100px;
  }

}


@media(max-width:900px){
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:774px){
  .title::before {
    display: none;
  }
}

@media(max-width:554px){
  .pokemon-photo {
    transform: scale(0.685);
    margin: 0 auto  !important;
  }
  .info-grid{
    overflow: hidden;
  }
  .listPokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .title{
    flex-wrap: wrap;
    height: auto !important;
    justify-content: center !important;
  }
  .title span{
    margin: 10px;
  }
}