.App {
  text-align: center;
}



.content{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
}

.info-container{
  width: 100%;
}

.sidebar {
  width: 300px;
  text-align: center;
}